<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <label for="name">Bowl Name/Location</label>
                <input id="name" type="text" class="bowl-form" ng-model="adminCtrl.bowl.name">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="team1">Team 1</label>
                <input id="team1" type="text" class="bowl-form" ng-model="adminCtrl.bowl.team1">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="team2">Team 2</label>
                <input id="team2" type="text" class="bowl-form" ng-model="adminCtrl.bowl.team2">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="date">Date</label>
                <input id="date" type="text" class="bowl-form" ng-model="adminCtrl.bowl.date">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="season">Season</label>
                <input id="season" type="text" class="bowl-form" ng-model="adminCtrl.bowl.season">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                </br>
                <a href="" class="btn btn-primary" ng-click="adminCtrl.createBowl()">Add Bowl</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card bowl-card" style="width:300px;display:inline-block;margin:10px;"
                 ng-repeat="bowl in adminCtrl.bowls">

                <!--TODO:Added a winner flag to each isolated bowl scope. See what you think.-->
                <!--<pre>
                    {{bowl|json}}
                </pre>-->
                
                <div class="card-block">
                    <h5 class="card-title">{{bowl.name}} - CAMERON I NEED A LOCATION</h5>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clickable" ng-click="bowl.winner = bowl.team1.name">
                        <h4 ng-class="{active : bowl.winner === bowl.team1.name}">{{bowl.team1.name}}</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clickable" ng-click="bowl.winner = bowl.team2.name">
                        <h4 ng-class="{active : bowl.winner === bowl.team2.name}">{{bowl.team2.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
