
<div class="container-fluid scoreboard-container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-xs-center">Leaderboard</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <a href="">All Players</a>
            <a href="" class="active">League 1</a>
            <a href="">League 2</a>
            <hr />
        </div>
        <div class="col-lg-10 col-lg-offset-1">
           <user-scoreboard ng-repeat="person in scoreboard.users | orderBy:'-wins'" user="person"></user-scoreboard>
        </div>
    </div>
</div>