<!-- partials/state1.list.html -->
<h3>List of State 1 Items</h3>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li ng-repeat="bowl in state1Ctrl.bowls()">
                <div>{{bowl.name}} - {{bowl.team1.name}} - {{bowl.team1.name}}</div>
                <div>{{bowl.bowlDate}} - {{bowl.season.year}}</div>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <input type="text" ng-model="state1Ctrl.bowl.season.year">
        <input type="text" ng-model="state1Ctrl.bowl.name">
        <input type="text" ng-model="state1Ctrl.bowl.team1.name">
        <input type="text" ng-model="state1Ctrl.bowl.team2.name">
        <input type="text" ng-model="state1Ctrl.bowl.bowlDate">
        <button ng-click="state1Ctrl.addBowl()">add item</button>
    </div>
</div>