@import 'variables'

.text-white
    color: #FFF

.btn-primary
    background-color: $main-color
    color: #FFF
    transition: 0.35s
    border: 1px solid transparent!important
    &:hover 
        background-color: lighten($main-color, 10%)

nav
    background-color: $main-color
    margin-bottom: 10px
    border-radius: 0!important
    padding: 25px

body 
    background-color: #1F1C26
    color: #E8E8E8
    font-family: 'Poppins', sans-serif

.clickable
    cursor:pointer

.bowl-form
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857143
    color: #555
    background-color: transparent
    border: 0
    border-bottom: 1px solid #DDD


.bowl-form:focus
    border: 0
    border-bottom: 1px solid #7D7FBA
    outline: none


.bowl-card .card-block
    background-color: transparent
    color: white
    border: 3px solid $main-color

.bowl-team
    h4
        border: 3px solid transparent
        transition: 0.35s
        padding: 5px
        line-height: 60px


.bowl-card .active
    background-color: #5B5B6B
    border: 3px solid $main-color

.clickable
    cursor:pointer


h2 
    color: lavender
    margin: 30px


.scoreboard-container .active 
    color: #ff8e7a

.scoreboard-container .active:hover 
    color: #ff8e7a


.scoreboard-card 
    margin: 0px
    background-color: transparent!important
    border: none
    border-radius: 0%
    margin-bottom: 2px
    color: #55505E
    height: 55px


.scoreboard-container a 
    margin: 60px
    color: #55505E


.scoreboard-container a:hover 
    color: #7a7486
    text-decoration: none


hr 
    background-color: #55505E
